@model IEnumerable<Loja.Models.Produtos>

@{
    ViewData["Title"] = "Loja Admin";

    string convertImageToDisplay(byte[] imagem)
    {
        if(imagem != null)
        {
            var base64 = Convert.ToBase64String(imagem);
            var fs = string.Format("data:image/jpg;base64,{0}", base64);
            return fs;
        }
        return "/img/item.png";
    }

    List<int>? funcao()
    {
        List<int> lista = new();
        lista = ViewBag.Lista;
        return lista;
    }
}
@section FilterSideMenu{
        <div class="fixed-left-menu">
    @foreach(var item in @funcao()!){
            <div>
                @item
            </div>
    }
        </div>
}
<div class="produtos-div d-flex flex-wrap justify-content-center">
@foreach (var item in Model){
    var src = @convertImageToDisplay(item.Imagem!);
    <div class="produto mb-3 ml-5"><a asp-action="Details" asp-route-id="@item.Id_Produto" class="text-decoration-none text-dark">
        <div class="imagem-produto-div">
            <img src="@src" alt="Imagem do Produto" id="imagem-produto"/>
        </div>
        <div class="d-flex justify-content-center">
            <div class="nome-div w-75 text-center text-wrap">
            <h5>@Html.DisplayFor(modelItem => item.Nome)</h5>
        </div>
        </div>
        <div class="preco-div text-center">
            <p>@Html.DisplayFor(modelItem => item.Preco)</p>
        </div>
        <div class="opcoes-div d-flex flex-row justify-content-end">
            <div class="opcoes m-1"><a asp-action="Edit" asp-route-id="@item.Id_Produto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a></div> 
            <div class="opcoes m-1"><a asp-action="Delete" asp-route-id="@item.Id_Produto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></a></div>
        </div>
        </a>
    </div>
}   
</div>